* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; }


/*
 * http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
 */
html, body { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x, .scroll-y { -webkit-overflow-scrolling: touch; }

body.mainPage {
    margin-left: 20px;
}

.control {
    height: 30px;
}

.scrollView {
    top: 30px;
}

/*
.scrollView::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

.scrollView::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollView::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/


.fader .item {
    opacity: 0;
    -webkit-transform: scale3d(0.001, 0.001, 1);
    -moz-transform: scale3d(0.001, 0.001, 1);
    -ms-transform: scale3d(0.001, 0.001, 1);
    -o-transform: scale3d(0.001, 0.001, 1);
    transform: scale3d(0.001, 0.001, 1);
}

.grid .item {
    padding: 10px;
    float: left;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 5px;
    position: absolute;
    background: white;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.list .item {
    padding: 2px;
    float: left;
    left: 0;
    right: 0;
    height: 40px;
    border: 1px solid black;
    margin: 0;
    position: absolute;
    background: white;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.grid .item .inCartQty {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(100,255,100, .70);
    overflow: hidden;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.list .item .inCartQty {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0;
    height: 35px;
    width: 35px;
    border-radius: 18px;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    background-color: rgba(100,255,100, .70);
    overflow: hidden;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.grid .item .inCartQty img {
    position: absolute;
    top: 0px;
    right: -3px;
    opacity: .3;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}

.list .item .inCartQty img {
    display: none;
}


.grid .item.incart .inCartQty {
    opacity: 1;
}

.list .item.incart .inCartQty {
    opacity: 1;
}

.grid .item.incart .inCartQty div {
    z-index: 10;
}

.list .item.incart .inCartQty div {
    z-index: 10;
}

.grid .item img, .grid img.itemimg {
    width: 180px;
    height: 180px;
}

.list .item img, .list img.itemimg {
    width: 35px;
    height: 35px;
}

.grid img.itemimg {
    opacity: .5;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.grid .item img {
    margin: 10px auto;
}

.grid img.itemimg.hide {
    opacity: 0;
    width: 20px;
    height: 20px;
}

.grid .item .description {
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .item .description {
    position: absolute;
    left: 45px;
    right: 0;
    top: 0;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid .item .price {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.5em;
    padding-right: 10px;
    line-height: 1.5em;
    text-align: right;
}

.list .item .price {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.5em;
    padding-right: 10px;
    line-height: 1.5em;
    text-align: right;
}
